<div class="ui five column grid">
    <div class="column">
        <div class="ui segment">
            <p>station:station</p>
        </div>
    </div>
    <div class="column">
        <div class="ui segment">
            <p>2222222</p>
            <img class="ui avatar image" src="/pubic/images/extech_station_jpg">
        </div>
    </div>
    <div class="column">
        <div class="ui segment">
            <p>33333333</p>
        </div>
    </div>
    <div class="column">
        <div class="ui segment">
            <p>444444</p>
        </div>
    </div>
    <div class="column">
        <div class="ui segment">
            <p>1555555</p>
        </div>
    </div>
</div>

